.card {
  border-radius: 22px;
  width: 300px;
  background-color: palegoldenrod;
  &:hover {
    cursor: pointer;
    transform: translatey(-6px);
  }
  @media (max-width: 320px) {
    width: 150px;
    font-size: 10px;
  }

  &__name,
  &__species {
    color: #329b93;
    text-align: center;
  }
}

.card__img {
  border-radius: 22px;
  width: 100%;
}
