.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  @media (max-width: 320px) {
    padding-top: 0px;
  }

  &__logo {
    width: 400px;
    @media (max-width: 320px) {
      width: 220px;
    }
  }
}
